/* FUENTES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
  font-family: 'Quantico', sans-serif;
}

body{
  cursor: url(/Pencil512_44200.png), default;
  min-width: 360px;
  background:linear-gradient(
    to bottom,
    #26a3c9
  );
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

/* NAVBAR STYLING */
.header{
  z-index: 100;
}
  
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.nav a,
.nav i {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
}

ul * {
  margin-left: 20px;
}

.logo{
  height: 100px;
  width: auto;
  transition: all 0.3s;
}
  
/*estilos generales*/
a,
p,
ul a{
  color: #eceff1;
  text-decoration: none;
}
.navegacion a {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.navegacion a::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.navegacion a:hover {
  color: #ffffff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(183, 146, 225, 0.4);
}

.navegacion a:active {
  scale: 1;
}

button{
  border: none;
  background: transparent;
}

 /* BARRA LATERAL*/
.overlay {
  position: fixed;
  opacity: 0;
}
.overlay.func {
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  z-index: 100000;
  background-color: rgba(60, 62, 83, 0.95);
  transition: all 0.5s ease-in-out;
}

.overlay.func .overlay-content{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;    
}

.overlay a{
  text-decoration: none;
  padding-top: 70px;
  font-size: 29px;
  display: block;
  font-weight: 700;
  color: #eceff1;
}

.overlay a:hover, 
.overlay a:focus{
  color: #c4eded;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 4px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #5adcd7 , 0 0 70px #5adcd7 , 0 0 80px #5adcd7 , 0 0 100px #5adcd7 ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.overlay .close{
  position: absolute;
  right: 20px;
  font-size: 65px;
}
/* slideshow-container {
  height:500px;
  position: relative;
  margin: auto;
  width:800px;
}

w3-content w3-display-container img{
  width: 100px;
  height: 100px;
}

.mySlides {
    display: none;
}
.prev, .next {
    background-color:gold;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 20px;
  color: black;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 7 7px 7px 7;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color:white;
}

.text {
  color:lime;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color:lime;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.active, .dot:hover {
  background-color: #ff0101;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.2s;
  animation-name: fade;
  animation-duration: 6.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-contenedor{
  height: 100vh;
  width: 90%;
  background-color: #483c3c;
  border-radius: 20px;
  box-shadow: 2px -1px 15px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px -1px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px -1px 15px 0px rgba(0,0,0,0.75);
}
/*ZONA FINAL, DE CONTACTO*/
#contact {
  width: 100%;
  height: 85vh;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#contact .contenido-contacto {
  width: 30%;
}

#contact .contenido-contacto h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

#contact .contenido-contacto p {
  font-size: 0.9em;
  line-height: 1.5em;
  color: #999;
}

#contact .contenido-contacto form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
}
.redes-sociales {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}
#contact .contenido-contacto .redes-sociales i {
  font-size: 1.2em;
  color: #f0e3e3;
  transition: 0.3s;
}

#contact .contenido-contacto .redes-sociales i:hover {
  color: rgb(219, 189, 16);
  transition: 0.3s;
}
/* contacto zona derecha*/
.contenido-encuesta{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
/* FOOOOOOOOOOOOOTEEEEEEEEEEEERRRRRRRRRRRRRRRRRR*/
footer {
  background-color: #221f1f;
  text-align: center;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p{
  color: #fff;
}

.footer-links {
  list-style: none;
  margin-top: 10px;
}

.footer-links li {
  display: inline-block;
  margin-right: 10px;
}

.footer-links li a {
  color: rgb(175, 85, 85);
  text-decoration: none;
}

.footer-links li a:hover {
  color: rgb(235, 227, 227);
}
@media screen and (max-width: 900px) {
  .main-container {
    flex-direction: column;
    text-align: center;
    gap: 60px;
  }
  .title br{
    display:block;
  }
  .navegacion{
    display: none;
  }
  .btn-rating-container {
    justify-content: center;
  }
  .parallax-img{
    display: none;
  }
  
  #contacto{
    flex-direction: column;
    justify-content: center;
  }
  footer {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .main-container {
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .contenedor .box {
    width: 230px;
    border-radius: 15px;
  }

  .sub-title p{
    font-size: 16px;
  }  

  .contenedor .box .img-box {
    width: 185px;
    border-radius: 10px;
  }

  .contenedor .box .content p {
    font-size: 0.8rem;
  }

  .contenedor .box .content a {
    font-size: 0.9rem;
  }
  .mockup img{
    width: 300px;  
  }
  .redes-sociales{
    display: none;
  }
}